body {
background-color: #EDDCD2;
	font-family: arial, sans-serif;
}

.wrapper {
background: #F0EFEB;
width: 92%;
max-width: 800px;
margin: 0 auto;
padding: 4px 20px;
}

h1 { color: #0D3B66

}
h2 { color: #3a5a40; margin-bottom: 0px;
}
p {margin-top: 4px;
}	}


a { color: #759AAB;}	a { color: #38413F;}


img { max-width: 100%;	img { max-width: 100%;
height: auto;	height: auto;
}

blockquote {
  border-left: 2px solid #38413F;
  padding-left: 20px;
  background: #F0EFEB;
  font-style: italic;
  font-size: 14pt;
  margin-left: 0px;
  margin-right: 0px;
}

p.caption {
  font-style: italic;
  text-align: left;
  margin-top: 4px;
}
ul {margin-top: 4px;
padding-left: 10px}
